@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 246 8% 95%;
    --foreground: 246 5% 0%;
    --card: 246 8% 90%;
    --card-foreground: 246 5% 10%;
    --popover: 246 8% 95%;
    --popover-foreground: 246 95% 0%;
    --primary: 246 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 246 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 208 10% 85%;
    --muted-foreground: 246 5% 35%;
    --accent: 208 10% 80%;
    --accent-foreground: 246 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 246 5% 90%;
    --border: 246 20% 50%;
    --input: 246 20% 18%;
    --ring: 246 100% 50%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 246 10% 5%;
    --foreground: 246 5% 90%;
    --card: 246 8% 0%;
    --card-foreground: 246 5% 90%;
    --popover: 246 10% 5%;
    --popover-foreground: 246 5% 90%;
    --primary: 246 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 246 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 208 10% 15%;
    --muted-foreground: 246 5% 60%;
    --accent: 208 10% 15%;
    --accent-foreground: 246 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 246 5% 90%;
    --border: 246 20% 18%;
    --input: 246 20% 18%;
    --ring: 246 100% 50%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}